version: "3.7"
services:
  php:
    image: php:fpm
    volumes:
      - ./html:/var/www/html
  nginx:
    build:
      context: ./
    #image: nginx:latest
    restart: unless-stopped
    ports:
      - "80:80"
        #volumes:
        #- ./nginx:/etc/nginx
        #- ./html:/var/www/html
